.parent-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f4f8;
  box-sizing: border-box;
  height: 100vh;
}

.container {
  display: flex;
  width: 90%;
  max-width: 900px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-right: 1px solid grey;
  margin: 10px 0px;
}

.login-img {
  height: 250px;
  width: auto;
}

.right-form {
  width: 50%;
  padding: 40px;
}

.login-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 50px;
}

.form-control {
  margin: 20px 0;
}

.mat-form-field {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.login-button, .register-button {
  flex: 1;
  margin: 0 10px;
  border-radius: 24px;
  height: 50px;
  font-weight: bold;
}

.register-hint {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
  color: #666;
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 95%;
    margin: 20px auto;
  }

  .left, .right-form {
    width: 100%;
    padding: 20px;
  }

  .login-title {
    font-size: 1.5rem;
  }

  .login-img {
    height: 200px;
  }

  .actions {
    flex-direction: column;
    margin-top: 30px;
  }

  .login-button, .register-button {
    width: 100%;
    margin-bottom: 10px;
  }
}
