<div class="container-hero">
    <mat-card class="content" >
      <div class="text-content">
        <h1 class="title">Donate Blood, Save Life!</h1>
        <h2 class="subtitle">Together, we're stronger</h2>
        <p class="description">
          Save lives by donating blood. Every 2 seconds, someone urgently requires your generous gift. Your selfless act creates a lifeline of hope, impacting surgeries, accidents, and illnesses. Be a hero.
        </p>
        <div class="actions">
          <button mat-raised-button color="primary" class="donate-button" (click)="redirectToLoginScreen()">Donate Now &rarr;</button>
          <button mat-flat-button color="accent" class="search-button">Request Donor ?</button>
        </div>
      </div>
      <div class="image-content">
        <img src='assets\images\blood-bank-image.png' alt="Blood Donation" class="donation-image">
      </div>
    </mat-card>
  </div>
