.container-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    background-color: #f7f1f1;
    min-height: 100vh;  
    font-family: "Poppins", sans-serif !important;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 50px 20px 50px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 1400px;
    text-align: center;
  }
  
  .text-content {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 44px;
    font-weight: bold;
    /* text-align: center; */
    color: #D32F2F;
    line-height: 1.5;

  }
  
  .subtitle {
    background-color: #D32F2F;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    margin: 12px 0;
  }
  
  .description {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .donate-button {
    width: 100%;
  }
  
  .search-button {
    width: 100%;
  }
  
  .image-content {
    margin-top: 20px;
    background-color: whitesmoke;
    border-radius: 50%;
  }
  
  .donation-image {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  
  @media (min-width: 600px) {
    .content {
      flex-direction: row;
      max-width: 800px;
      text-align: left;
    }
  
    .text-content {
      flex: 1;
      margin-right: 20px;
    }
  
    .image-content {
      flex: 1;
      margin-top: 0;
    }
  
    .donation-image {
      max-width: 400px;
    }
  }
  