<div class="flex flex-row items-center justify-center bg-gradient-to-r text-black min-w-[900px] min-h-screen ml-[250px] bg-white">
    <div class="max-w-md text-center">
        <div class="text-7xl font-bold mb-4">403</div>
        <h1 class="text-2xl font-semibold mb-2">Token Expired</h1>
        <p class="mb-6">
            Sorry, the token you're using for doesn't exist anymore. You can go back to the login screen.
        </p>
        <button
            (click)="handleGoBack()"
            class="px-8 py-3 cursor-pointer rounded-full bg-blue-600 hover:bg-blue-700 border border-white transition-all text-white font-semibold"
        >
            Go Back to Login
        </button>
    </div>
</div>