/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.red-snackbar {
  background-color: #df2929;
  font-weight: 400;
  color: white;
}

.red-snackbar button {
  background-color: white;
  color: #df2929;
}

.green-snackbar {
  background-color: rgb(22, 150, 22);
  font-weight: 400;
  color: white;
}

.green-snackbar button {
  background-color: white;
  color: rgb(22, 150, 22);
}

.loader-class {
  display: flex;
  flex-direction: row;
  justify-content: center;
}