<div class="min-h-[60%] flex flex-col justify-center items-center ml-[150px] mt-6">
  <!-- Main Content -->
  <div class="flex flex-col lg:flex-row justify-between items-center lg:space-x-6 p-8 lg:px-24 lg:py-12">

    <!-- Left Side (Form) -->
    <div class="w-full lg:w-1/2 space-y-6">

      <!-- Name Field -->
      <div>
        <label for="name" class="block text-gray-700 text-[20px] mb-[20px]">Name</label>
        <input id="name" ype="text" placeholder="Full Name" [(ngModel)]="name"
          class="w-full border border-gray-300 rounded-full py-[8px] px-[12px] text-gray-800 text-[16px] focus:outline-none focus:ring-2 focus:ring-[#D9AA00]" />
      </div>

      <!-- Email Field -->
      <div>
        <label for="email" class="block text-gray-700 text-[20px] mb-[20px]">Email</label>
        <input id="email" type="email" placeholder="Enter Email" [(ngModel)]="email"
          class="w-full border border-gray-300 rounded-full py-[8px] px-[12px] text-gray-800 text-[16px] focus:outline-none focus:ring-2 focus:ring-[#D9AA00]" />
      </div>

      <!-- Password Field -->
      <div>
        <label for="password" class="block text-gray-700 text-[20px] mb-[20px]">Password</label>
        <div class="relative">
          <input id="password" [type]="hidePassword ? 'text' : 'password'" placeholder="●●●●●●●" [(ngModel)]="password"
            class="w-full border border-gray-300 rounded-full py-[8px] px-[12px] text-[16px] text-gray-800 focus:outline-none focus:ring-2 focus:ring-[#D9AA00]" />
          <span class="absolute inset-y-0 right-4 flex items-center">
            <svg *ngIf="hidePassword" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
              (click)="togglePasswordView()" class="bi bi-eye-slash-fill cursor-pointer" viewBox="0 0 16 16">
              <path
                d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z" />
              <path
                d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z" />
            </svg>
            <svg *ngIf="!hidePassword" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
              (click)="togglePasswordView()" class="bi bi-eye-fill cursor-pointer" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
            </svg>
          </span>
        </div>
      </div>

      <!-- Sign In Button -->
      <button class="w-full bg-[#D9AA00] text-white rounded-full py-3 text-lg hover:bg-yellow-600 transition mt-[20px]"
        (click)="register()">
        Sign Up
      </button>

      <!-- Divider -->
      <div class="flex items-center space-x-2">
        <hr class="flex-grow border-gray-300">
        <span class="text-sm text-gray-500">or</span>
        <hr class="flex-grow border-gray-300">
      </div>

      <!-- Sign Up -->
      <div class="text-center">
        <p class="text-sm text-gray-500">Already Registered ?
          <a href="javascript:void(0)" class="text-[#D9AA00] hover:underline" (click)="redirectToLogin()">Login</a>
        </p>
      </div>
    </div>

    <!-- Right Side (Illustration) -->
    <div class="hidden lg:block lg:w-1/2">
      <a href="https://google.com/images/123">
        <img src="assets\images\rightElem.png" alt="Illustration" class="w-full h-auto">
      </a>
    </div>
  </div>
</div>